﻿@model ControleDeProjetos.Models.Projeto

<h2>Editar</h2>
<form asp-action="Editar" method="post">
    <h4>Projeto</h4>
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label asp-for="Titulo" class="col-md-2 form-control-label"></label>
        <div class="col-md-10">
            <input asp-for="Titulo" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Observacao" class="col-md-2 form-control-label"></label>
        <div class="col-md-10">
            <input asp-for="Observacao" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Salvar" class="btn"/>
        </div>
    </div>
</form>