﻿@model List<ControleDeProjetos.Models.Projeto>

@if (TempData["mensagem"] != null)
{
    <div class="alert">@TempData["mensagem"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Observação
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Observacao)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-Id="@item.Id">Editar</a> |
                    <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="text-center">
    <a asp-action="Novo" class="btn btn-primary">Novo Projeto</a>
</div>