﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Controle de Projetos</title>

    
        <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar navbar-inverse" role="navigation">
                <a class="navbar-brand" href="#">Controle de Projetos</a>
            </div>
            <div class="row panel">
                <div id="categorias" class="col-xs-3">
                    <ul>
                        <li><a asp-area="" asp-controller="Projeto" asp-action="Index">Projetos</a></li>
                        <li><a asp-area="" asp-controller="Acao" asp-action="Index">Ações</a></li>
                    </ul>
                </div>
                <div class="col-xs-8">
                    @RenderBody()
                </div>
            </div>
        </div>
    </nav>
        <hr />
        <footer>
            <p>&copy; 2017 - Controle de Projetos</p>
        </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
